<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178337801782-li8uo31v7taam7d1as151p9olrd9iedb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178337801782-li8uo31v7taam7d1as151p9olrd9iedb</string>
	<key>API_KEY</key>
	<string>AIzaSyA3bhkzRcpKf0ndo_wRKg7RY2XShwg3QEU</string>
	<key>GCM_SENDER_ID</key>
	<string>178337801782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>companion-43944</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-43944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178337801782:ios:fdde8e7fe693eace46da97</string>
</dict>
</plist>